# Build output
build/
out/

# SPIR-V compiled shaders
*.spv

# Visual Studio CMake
.vs/
CMakeSettings.json
CMakeCache.txt
cmake_install.cmake
CMakeFiles/

# Visual Studio
*.user
*.suo
*.VC.db
*.VC.opendb

# ImGui layout save
imgui.ini